@import "../../styles/config.scss";
@import "../../styles/globals.scss";

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .error {
    margin-bottom: map-get($spacing, "lg");
    background-color: map-get($red, "500");
    padding: map-get($spacing, "md");
    color: $text-color;
  }
  .card {
    width: 20%;
    min-width: 300px;
    .align-center {
      align-self: center;
    }
    .title {
      padding-bottom: map-get($spacing, "lg");
      font-size: 30px;
      line-height: 1.6;
      letter-spacing: 0;
      font-weight: 500;
      color: map-get($yellow, "200");
    }
    .full-width {
      width: 100%;
    }
  }
}
