$grey: (
  "100": #070706,
  "450": #585858,
  "900": #aca59c,
  "950": #f0e6da,
);

$orange: (
  "100": #59210a,
  "450": #b74918,
);

$yellow: (
  "200": #dc8d47,
  "450": #fec952,
);

$green: (
  "300": #545014,
);

$red: (
  "500": #c41110,
);

$text-color: map-get($grey, "950");
