@import "../../styles/config.scss";

.input-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-bottom: map-get($spacing, "lg");
  .label {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0;
    color: $text-color;
  }
  input[type="text"],
  input[type="password"] {
    background: map-get($grey, "950");
    padding: map-get($spacing, "xs");
    border-radius: $card-radius-xs;
    border: 2px solid map-get($grey, "950");
    color: map-get($grey, "100");
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 400;
    outline: none;
    font-weight: 500;
    &:hover,
    &:focus {
      border-color: map-get($yellow, "200");
      outline: none;
    }
    &::placeholder {
      color: lighten(map-get($grey, "450"), 30%);
    }
    &.error {
      border-color: map-get($red, "500");
    }
  }
  .error {
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0;
    font-weight: 400;
    color: map-get($red, "500");
  }
}
