@import "../../styles/config.scss";
@import "../../styles/globals.scss";

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .content-container {
    display: flex;
    padding: map-get($spacing, "xl");
    gap: map-get($spacing, "xl");
    .menu {
      display: flex;
      flex-direction: column;
      gap: map-get($spacing, "xl");
      width: 25%;
      button {
        width: 100%;
      }
    }
    .content {
      flex: 1;
      .product-container {
        color: $text-color;
        display: flex;
        align-items: center;
        gap: map-get($spacing, "sm");
        .circle {
          width: $circle-diameter;
          height: $circle-diameter;
          border-radius: 50%;
        }
      }
      .error {
        width: fit-content;
        background-color: map-get($red, "500");
        padding: map-get($spacing, "md");
        color: $text-color;
      }
    }
  }
}
